input:focus {
  outline: none;
}

body {
  font-family: 'Pretendard'
}

/* 사이즈 수정 필요.. 메인페이지 말고 다른 페이지에서 적용해보기 */
@media screen and (max-width: 500px) {
  .hidden {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
